{
	"extends": "airbnb",
	"parser": "babel-eslint",
	"rules": {
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
		"no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["registration"] }]
	  },
	"globals": {
		"document": true,
		"window": true,
		"navigator": true,
		"fetch": true
	}

}
