@import '../../stylesheets/main.scss';

.changePassword {
  padding-top: $toolBar-height;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;

  & > * {
    margin-top: 2rem;
  }

  .notValidNewPassword,
  .notValidRepeatNewPassword {
    @extend .inputAlert;
  }

  .notValidNewPassword {
    &::after {
      content: 'password is not valid';
    }
  }

  .notValidRepeatNewPassword {
    &::after {
      content: 'password is not valid';
    }
  }
}