.inputAlert {
  position: relative; }
  .inputAlert input {
    border-bottom: 2px solid red; }
  .inputAlert::after {
    color: red;
    height: 1.4rem;
    width: 15rem;
    font-size: 1.2rem;
    position: absolute;
    bottom: -5px;
    right: 0;
    text-align: right; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 400px) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Ubuntu', sans-serif; }

.albumDetails {
  padding-top: 5rem;
  background-color: #DECDA7;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .albumDetails__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    box-shadow: 0 0 2rem #060505; }
    @media only screen and (max-width: 900px) {
      .albumDetails__content {
        width: 100%;
        box-shadow: none; } }
