@import '../../stylesheets/main.scss';

.albumDetails {
  background-color: $color-secondary-middle;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    box-shadow: 0 0 2rem $color-primary-dark;

    @include responsive(tablet-horizon) {
      width: 100%;
      box-shadow: none;
    }
  }
}