@import '../../stylesheets/main.scss';

.userAllLabels {
  padding-top: $toolBar-height;

  &__title {
    height: 5rem;
    font-size: 2.4rem;
    background-color: $color-primary-dark;
    color: $color-secondary-dark;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    background-color: $color-primary-dark;

    button {
      text-decoration: none;
      text-transform: none;
    }
  }

  &__mainLabel {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    text-align: center;
    font-size: 1.4rem;
    align-items: center;
  }
}