.inputAlert {
  position: relative; }
  .inputAlert input {
    border-bottom: 2px solid red; }
  .inputAlert::after {
    color: red;
    height: 1.4rem;
    width: 15rem;
    font-size: 1.2rem;
    position: absolute;
    bottom: -5px;
    right: 0;
    text-align: right; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 400px) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Ubuntu', sans-serif; }

.singleItem {
  display: grid;
  grid-template-rows: repeat(2, 15rem);
  grid-template-columns: 15rem; }
  .singleItem > * {
    height: inherit;
    width: inherit; }
  .singleItem__albumCover {
    display: grid;
    grid-template-rows: inherit;
    grid-template-columns: inherit;
    align-items: center;
    justify-items: center;
    background-color: #060505; }
    .singleItem__albumCover img {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      width: 100%;
      opacity: 1;
      transition: all .2s ease; }
    .singleItem__albumCover__rating {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      text-align: center;
      color: #F5F5F4;
      font-size: 5rem;
      border-bottom: 3px solid #F5F5F4;
      padding: .5rem;
      opacity: 0;
      width: 8rem; }
    .singleItem__albumCover:hover img {
      opacity: 0.3; }
    .singleItem__albumCover:hover p {
      opacity: 1; }
  .singleItem__description {
    text-align: center;
    color: #5F513F; }
    .singleItem__description__musician {
      font-size: 1.4rem;
      text-transform: uppercase;
      padding-top: 2rem; }
    .singleItem__description__albumName {
      font-size: 1.6rem;
      text-transform: uppercase;
      padding-top: 1rem;
      font-weight: 300; }
    .singleItem__description__year {
      font-size: 1rem;
      padding-top: 1rem; }
    .singleItem__description__genres {
      font-size: 1rem;
      text-transform: uppercase;
      padding-top: .5rem; }
    .singleItem__description__star {
      width: 10rem;
      margin: .5rem auto; }
      .singleItem__description__star svg {
        height: 2rem;
        width: 2rem; }
  .singleItem .displayNone {
    display: none; }
  @media only screen and (max-width: 900px) {
    .singleItem {
      grid-template-rows: repeat(2, 12rem);
      grid-template-columns: 12rem; }
      .singleItem__description__musician {
        font-size: 1.2rem;
        padding-top: 1rem; }
      .singleItem__description__albumName {
        font-size: 1.4rem;
        padding-top: .5rem; }
      .singleItem__description__year {
        padding-top: .5rem; }
      .singleItem__description__genres {
        padding-top: .2rem; } }
