*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 400px) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Ubuntu', sans-serif; }

.toolBar {
  background-color: #F5F5F4;
  height: 5rem;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  border-bottom: 1px solid #A5A4A2;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .toolBar > * {
    margin: auto 1rem; }
  .toolBar__icon {
    font-size: 3rem;
    font-family: 'Coda Caption', sans-serif;
    background-image: radial-gradient(#DECDA7, #BD924B 90%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; }
    @supports (-webkit-background-clip: text) or (background-clip: text) {
      .toolBar__icon {
        color: #BD924B; } }
  .toolBar__menu {
    display: flex;
    flex-direction: row;
    height: 3rem; }
    .toolBar__menu > * {
      margin-left: 1rem;
      display: flex;
      align-items: center;
      height: inherit; }
      .toolBar__menu > * svg {
        height: 3rem;
        width: 3rem;
        fill: #BD924B; }
      .toolBar__menu > *::after {
        content: '';
        position: absolute;
        top: 4.5rem;
        height: 4px;
        width: 0;
        background-color: #BD924B;
        transition: all .2s ease; }
      .toolBar__menu > *:not(:first-child):hover::after {
        width: 3rem; }
