@import '../../stylesheets/main.scss';

.toolBar {
  background-color: $color-primary-light;
  height: $toolBar-height;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  border-bottom: 1px solid $color-primary-middle;
  z-index: $layer-top;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & > * {
    margin: auto 1rem;
  }

  &__icon {
    font-size: $toolBar-item-size;
    font-family: 'Coda Caption', sans-serif;

    background-image: radial-gradient($color-secondary-middle, $color-secondary-dark 90%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    @supports ((-webkit-background-clip: text) or (background-clip: text)) {
      color: $color-secondary-dark;
    }

    @include responsive(phone) {
      font-size: $toolBar-item-size*0.7;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    // align-items: center;
    height: $toolBar-item-size;

    & > * {
      margin-left: 1rem;
      display: flex;
      align-items: center;
      height: inherit;

      svg {
        height: $toolBar-item-size;
        width: $toolBar-item-size;
        fill: $color-secondary-dark;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0.9*$toolBar-height;
        height: 4px;
        width: 0;
        background-color:$color-secondary-dark;
        @include transitionSpeed(fast);
      }

      &:not(:first-child):hover::after {
        width: $toolBar-item-size;
      }

    }
  }
}