@import '../../stylesheets/main.scss';

.toolBar {
  background-color: $color-primary-light;
  height: $toolBar-height;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  border-bottom: 1px solid $color-primary-middle;
  z-index: $layer-top;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & > * {
    margin: auto 1rem;
  }

  &__icon {
    font-size: $toolBar-item-size;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    & > * {
      margin-left: 1rem;
      height: $toolBar-item-size;
    }
  }
}