@import '../../../stylesheets/main.scss';

.userLabels {
  padding: 2rem;

  &__labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    button {
      text-decoration: none;
      text-transform: none;
    }
  }
}