.inputAlert, .forgetPassword .notValidEmail,
.forgetPassword .notValidCode {
  position: relative; }
  .inputAlert input, .forgetPassword .notValidEmail input, .forgetPassword .notValidCode input {
    border-bottom: 2px solid red; }
  .inputAlert::after, .forgetPassword .notValidEmail::after,
  .forgetPassword .notValidCode::after {
    color: red;
    height: 1.4rem;
    width: 15rem;
    font-size: 1.2rem;
    position: absolute;
    bottom: -5px;
    right: 0;
    text-align: right; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 400px) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Ubuntu', sans-serif; }

.forgetPassword {
  padding-top: 5rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .forgetPassword .displayShow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem; }
    .forgetPassword .displayShow > * {
      margin-top: 2rem; }
  .forgetPassword .displayNone {
    display: none; }
  .forgetPassword .notValidEmail::after {
    content: 'email address is not valid'; }
  .forgetPassword .notValidCode::after {
    content: 'code is not valid'; }
