@import '../../stylesheets/main.scss';

.forgetPassword {
  padding-top: $toolBar-height;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .displayShow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;

    & > * {
      margin-top: 2rem;
    }
  }

  .displayNone {
    display: none;
  }

  .notValidEmail,
  .notValidCode {
    @extend .inputAlert;
  }

  .notValidEmail {
    &::after {
      content: 'email address is not valid';
    }
  }

  .notValidCode {
    &::after {
      content: 'code is not valid';
    }
  }
}