.inputAlert, .signUpBox__emailNotValid, .signUpBox__passwordNotValid, .signUpBox__usernameNotValid, .signUpBox__repeatPasswordNotValid {
  position: relative; }
  .inputAlert input, .signUpBox__emailNotValid input, .signUpBox__passwordNotValid input, .signUpBox__usernameNotValid input, .signUpBox__repeatPasswordNotValid input {
    border-bottom: 2px solid red; }
  .inputAlert::after, .signUpBox__emailNotValid::after, .signUpBox__passwordNotValid::after, .signUpBox__usernameNotValid::after, .signUpBox__repeatPasswordNotValid::after {
    color: red;
    height: 1.4rem;
    width: 15rem;
    font-size: 1.2rem;
    position: absolute;
    bottom: -5px;
    right: 0;
    text-align: right; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 400px) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Ubuntu', sans-serif; }

.signUpBox {
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .signUpBox__input, .signUpBox__emailNotValid, .signUpBox__passwordNotValid, .signUpBox__usernameNotValid, .signUpBox__repeatPasswordNotValid {
    width: 80%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    color: #060505; }
    .signUpBox__input p, .signUpBox__emailNotValid p, .signUpBox__passwordNotValid p, .signUpBox__usernameNotValid p, .signUpBox__repeatPasswordNotValid p {
      align-self: center;
      font-size: 1.6rem; }
    .signUpBox__input input, .signUpBox__emailNotValid input, .signUpBox__passwordNotValid input, .signUpBox__usernameNotValid input, .signUpBox__repeatPasswordNotValid input {
      width: 15rem;
      margin: 1rem 0; }
  .signUpBox__emailNotValid::after {
    content: 'email address is not valid'; }
  .signUpBox__passwordNotValid::after {
    content: 'at least one uppercase, one lowercase and one number'; }
  .signUpBox__usernameNotValid::after {
    content: 'at least three character'; }
  .signUpBox__repeatPasswordNotValid::after {
    content: 'should be the same with previous input'; }
  .signUpBox__button {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
