@import '../../stylesheets/main.scss';

.signUpBox {
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__input,
  &__emailNotValid,
  &__passwordNotValid,
  &__usernameNotValid,
  &__repeatPasswordNotValid {
    width: 80%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    color: $color-primary-dark;

    p {
      align-self: center;
      font-size: 1.6rem;
    }

    input {
      width: 15rem;
      margin: 1rem 0;
    }
  }

  &__emailNotValid,
  &__passwordNotValid,
  &__usernameNotValid,
  &__repeatPasswordNotValid {
    @extend .inputAlert;
  }

  &__emailNotValid {
    &::after {
      content: 'email address is not valid';
    }
  }

  &__passwordNotValid {
    &::after {
      content: 'at least one uppercase, one lowercase and one number';
    }
  }

  &__usernameNotValid {
    &::after {
      content: 'at least three character';
    }
  }

  &__repeatPasswordNotValid {
    &::after {
      content: 'should be the same with previous input';
    }
  }

  &__button {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}