*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 400px) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Ubuntu', sans-serif; }

.signUpBox {
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .signUpBox__input {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #060505; }
    .signUpBox__input p {
      align-self: center;
      font-size: 1.4rem; }
    .signUpBox__input input {
      width: 15rem;
      margin: 1rem 0; }
  .signUpBox__button {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
