@import '../../stylesheets/main.scss';

.signInBox {
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__input,
  &__emailNotValid,
  &__passwordNotValid {
    width: 80%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    color: $color-primary-dark;

    p {
      align-self: center;
      font-size: 1.6rem;
    }

    input {
      width: 15rem;
      margin: 1rem 0;
    }
  }

  &__emailNotValid,
  &__passwordNotValid {
    @extend .inputAlert;
  }

  &__emailNotValid {
    &::after {
      content: 'email address is not valid';
    }
  }

  &__passwordNotValid {
    &::after {
      content: 'password is not valid';
    }
  }

  &__button {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &_forgetPassword {
      button {
        border: none;
        background: transparent;
        color: $color-primary-dark;
        text-decoration: underline;
      }
  
      :hover {
        border: none;
        transform: none;
        opacity: 0.7;
      }
    }
  }
}