*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Ubuntu', sans-serif; }

.home {
  display: flex;
  flex-direction: column;
  align-items: center; }
