.inputAlert {
  position: relative; }
  .inputAlert input {
    border-bottom: 2px solid red; }
  .inputAlert::after {
    color: red;
    height: 1.4rem;
    width: 15rem;
    font-size: 1.2rem;
    position: absolute;
    bottom: -5px;
    right: 0;
    text-align: right; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 400px) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Ubuntu', sans-serif; }

.ratingBar {
  width: 100%;
  background-color: #060505;
  color: #BD924B;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .ratingBar__rateNow {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .ratingBar__rateNow__text {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .ratingBar__rateNow__text p {
        font-size: 2.4rem;
        font-weight: bold;
        text-transform: uppercase; }
      .ratingBar__rateNow__text::before, .ratingBar__rateNow__text::after {
        content: '\2297';
        margin: 2rem;
        transform: scale(2); }
  .ratingBar__button {
    display: flex;
    flex-direction: row;
    padding: 2rem; }
    .ratingBar__button > * {
      margin: auto 1rem; }
  .ratingBar__more {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .ratingBar__more__labels {
      display: flex;
      flex-direction: row;
      width: 30rem;
      justify-content: space-evenly; }
    .ratingBar__more__track {
      width: 30rem;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border: 2px ridge #BD924B; }
      .ratingBar__more__track_single {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.4rem; }
        .ratingBar__more__track_single_text {
          display: flex;
          flex-direction: row; }
        .ratingBar__more__track_single:not(:last-child) {
          padding-bottom: 3px;
          border-bottom: 1px dashed #BD924B; }
        .ratingBar__more__track_single svg {
          height: 2rem;
          width: 2rem; }
