@import '../../stylesheets/main.scss';

.labelItem {
  position: relative;
  height: 3rem;
  background-color: $color-primary-light;
  border: 1px ridge $color-secondary-dark;
  border-radius: .8rem;
  margin: .5rem .5rem 1rem .5rem;

  &__item {
    padding: .5rem 2rem;
    font-size: 1.4rem;
  }

  &__close {
    position: absolute;
    top: .3rem;
    right: .5rem;
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    background: transparent;
    color: $color-secondary-darker;
    cursor: pointer;
    @include transitionSpeed(fast);

    &:focus {
      outline: none;
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  .displayNone {
    display: none;
  }
}