*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 400px) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Ubuntu', sans-serif; }

.labelItem {
  position: relative;
  background-color: #F5F5F4;
  border: 1px ridge #BD924B;
  border-radius: .8rem;
  margin: .5rem .5rem 1rem .5rem; }
  .labelItem__item {
    padding: .5rem 2rem;
    font-size: 1.6rem; }
  .labelItem__close {
    position: absolute;
    top: .3rem;
    right: .5rem;
    font-weight: bolder;
    font-size: 1rem;
    border: none;
    background: transparent;
    color: #5F513F;
    transition: all .2s ease; }
    .labelItem__close:focus {
      outline: none; }
    .labelItem__close:hover {
      transform: scale(1.2); }
