.inputAlert {
  position: relative; }
  .inputAlert input {
    border-bottom: 2px solid red; }
  .inputAlert::after {
    color: red;
    height: 1.4rem;
    width: 15rem;
    font-size: 1.2rem;
    position: absolute;
    bottom: -5px;
    right: 0;
    text-align: right; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 400px) {
    html {
      font-size: 50%; } }

body {
  font-family: 'Ubuntu', sans-serif; }

.rateStar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative; }
  .rateStar__input {
    position: absolute;
    top: 0;
    left: 0;
    width: .5rem;
    z-index: -10; }
  .rateStar__input:checked + label svg,
  .rateStar__input:checked ~ .rateStar__label svg {
    fill: gold; }
  .rateStar__label svg {
    width: 3rem;
    height: 3rem;
    fill: #ffffff; }
  .rateStar__label:hover svg,
  .rateStar__label:hover ~ .rateStar__label svg {
    fill: gold; }
